<h1 class="thin">Current Jobs</h1>


<div class="collection">
  <% @jobs.where(completed: false).each do |job| %>
    <%= link_to job.title, job_path(job), class: 'collection-item' %>
  <% end %>
</div>
