<h1 class="center thin"> <%= @job.title %> </h1>

<h5 class="center" >Description: <%= @job.description %></h5>

<% if @job.pending %>
  <p class="center">Someone has already claimed this job; it's currently pending.</p>
<% else %>
<div id='claim-job' class="center">
  <% if current_worker %>
    <p class="center">No one has claimed this job!</p>
  <% end %>
  <% if current_worker %>
    <%= link_to "click here to claim it now", job_path(@job, pending: true), method: 'patch', remote: true, class: 'btn center'  %>
  <% elsif current_user %>
    <p class="center">
      You must be registered as a worker to claim jobs.
    </p>
  <% end %>
</div>
<% end %>
<div class="section">
  <br>
  <br>
  <br>
  <br>
</div>
