<h3 class="center thin"><%= current_worker.email %>'s jobs:</h3>
<div class="worker-margin">
  <div class="row">
    <div class="col s8">
      <h5 class="center">Pending Jobs</h5>
      <br>
      <div class="current-jobs center">
        <%= render 'jobs' %>
      </div>

    </div>

    <div class="col s2">
      <h5 class="center">Completed Jobs</h5>
      <div class="completed-jobs">
        <div class="collection">
          <% current_worker.jobs.where(completed: true).each do |job| %>
          <%= link_to job.title, job_path(job), class: 'collection-item', style: 'text-decoration: line-through;'%>
          <% end %>
        </div>
      </div>
    </div>

    <div class="col s2">
      <h5 class="center">Available Jobs</h5><br>
      <div class="available-jobs">
        <div class="collection">
          <% Job.all.where(pending: false).each do |job| %>
          <%= link_to job.title, job_path(job), class: 'collection-item'%>
          <% end %>
        </div>
      </div>
    </div>
  </div>

</div>
